body {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  color: white;
  position: relative;
}

.header {
  height: 40px;
  background-color: #711B1B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
}

.header .email {
  margin-right: 10px;
}

.socials {
  display: flex;
  gap: 5px;
}

.socials .icon-container {
  background-color: rgba(199, 87, 121, 0.479);
  padding: 5px;
  border-radius: 12px;
}

.body {
  background-image: url('background2.jpeg');
  height: 864px;
  width: 1077px;
  display: flex;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
}