body {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  color: white;
}

.header {
  height: 40px;
  background-color: #711B1B;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
}

.header .email {
  margin-right: 10px;
}

.socials {
  display: flex;
  gap: 5px;
}

.socials .icon-container {
  background-color: rgba(199, 87, 121, 0.479);
  padding: 5px;
  border-radius: 12px;

}

.body {
  background-image: url('background.jpg');
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body .title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.body .title p {
  font-family:"Yatra One", system-ui ;
  font-size: 3rem;
}

.body .title .slogan {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2rem;

}

.body .title i {
  font-size: 2.5rem;
  transform: scale(0.7, 1);

}

.search-bar {
  background-color: white;
  border-radius: 16px ;
  width: 955px;
  height: 56px;
  color: 711B1B;
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  padding: 15px;

}

.location-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
 
  
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  padding-right: 120px;
  
}


.search-bar .fa-location-dot {
  font-size: 1.5rem;
}

.search-section .fa-magnifying-glass  {
  font-size: 1.5rem;
}

.search-section p {
  font-size: 1.9rem;
}

.search-bar .placeholder {
  height:22px ;
  width:466px ;
  border: none;
}

.search-bar input, .search-bar input:focus {
  border: none;
}

.search-bar input:focus {
  outline: none;
}